@import "open-props/style" layer(design.system);
@import "open-props/normalize" layer(demo.support);
@import "open-props/switch/light" layer(demo.theme);
@import "open-props/switch/dark" layer(demo.theme);

@import "picklist.css" layer(demo.component);
@import "taglist.css" layer(demo.component);

@layer demo.support {
  body {
    display: grid;
  }

  reactive-form {
    display: grid;

    @media (width > 720px) {
      grid-template-columns: 1fr 1fr;
    }

    & > * {
      display: grid;
      place-content: center;
      padding-block: var(--size-10) var(--size-10);
    }
  }


button {
  height: 36px;
  margin-block: 12px;
  padding: 8px 16px;
  border: none;
  color: canvasText;
  font-size: .9rem;
  box-shadow:
    0 1px 1px 0 light-dark(#0003, #0005),
    inset 0 1px 1px 0 light-dark(#fffb, #fff5);

  background:
    radial-gradient(101.06% 100% at 50% 100%, rgba(94, 94, 94, 0.14) 0%, rgba(94, 94, 94, 0) 73.85%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 55.59%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, rgba(94, 94, 94, 0.18), rgba(94, 94, 94, 0.18)), rgba(255, 255, 255, 0.06);
  background-blend-mode: color-dodge, normal, color-dodge, lighten;
  border-radius: 100px;

  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: 0.5rem;
}


  input[type="radio"], input[type="checkbox"] {
    inline-size: 1.25rem;
    block-size: 1.25rem;
  }

  .dark, .light {
    color: var(--text-1);
    gap: var(--size-10);
    padding-inline: var(--size-3);
    padding-inline: max(var(--size-3), env(safe-area-inset-left));
  }

  .dark {
    background: var(--surface-1);
  }

  .light {
    background: var(--surface-3);
  }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  inline-size: var(--size-10);

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }

  & > svg {
    fill: inherit;
    stroke: inherit;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@keyframes octocat-wave{
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}