:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

dynamic-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 10px;
}

dynamic-list-item {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;

  background-color: Canvas;
  color: CanvasText;

  h4 {
    color: light-dark(blue, lightblue);
    margin: 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;

    & button {
      width: initial;
    }
  }

  &[sortable] {
    .actions {
      display: none;
    }
  }
}

div[data-toggle-target="toggle"],
div[data-toggle-target="outie"],
div[data-toggle-target="innie"] {
  transition: opacity .2s ease;
  overflow: hidden;
  &[data-attr=on] {
    opacity: 1;
    display: block;
  }
  &[data-attr=off] {
    opacity: .1;
    display: none;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;

  & button {
    width: initial;
    padding-inline: 20px;
  }
}

input[type=text],
input[type=email],
input[type=number],
select,
textarea {
  margin-block: 4px;
  padding: 8px;
  width: 100%;
}

button {
  height: 36px;
  margin-block: 4px 12px;
  padding: 8px;
  width: 100%;
}

.flex {
  display: flex;
  gap: 0.5rem;
}